USE [master]
GO
/****** Object:  Database [MiBaseDatos]    Script Date: 3/25/2026 5:51:28 PM ******/
CREATE DATABASE [MiBaseDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiBaseDatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiBaseDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiBaseDatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MiBaseDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiBaseDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiBaseDatos]
GO
/****** Object:  Table [dbo].[Ciudadanos]    Script Date: 3/25/2026 5:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudadanos](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (1, N'Ciudadano 1', 58)
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (2, N'Ciudadano 2', 33)
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (3, N'Ciudadano 3', 36)
GO
USE [master]
GO
